.popup-header{
  background: linear-gradient(silver, gainsboro);
}

.popup-body {
  width: 325px;
  margin: 0px;
  background-color: gainsboro;
}

.blocked-popup {
  font-size: 24px;
  font-weight: 730;
}

.digit {
  color: #0000FF;
  display: inline-block;
  font-weight: 'bold';
  font-size: 32px;
}

.word {
  display: inline-block;
  font-weight: 'bold';
  font-size: 22px;
}

.popup-header{
	font-size: 24px;
	font-weight: 730;
}

.list-body{
	width: 100%;
	height: 95vh;
}

.list-header{
	font-size: 24px;
	font-weight: 730;
}

.list-group{
	float: left;
  margin: 5px; 
	background: linear-gradient(silver, gainsboro, gainsboro)
}

.change-time{
	font-size: 16px;
}

.settings-page{
  background: linear-gradient(silver, gainsboro);
  width: 100%;
  height: 95vh;
}

.blocked-text{
  font-size: 20px;
  font-weight: 'bold';
  margin-top: 20px;
}

.blocked-domain {
  font-size: 16px;
}

.blocked-group {
  margin-left: 20px;
}

.block-button {
  margin-left: 5px;
}